/* Styling for the body of the app */
body {
    background-color: rgb(0, 0, 0);
}

/* Styling for heading of the app */
h1 {
    font-size: 52px;
    text-align: center;
    font-family: "Roboto", "Courier New", monospace;
    color: rgb(159, 186, 64);
    margin: auto;
}
h2 {
    font-size: 32px;
    text-align: center;
    font-family: "Roboto", "Courier New", monospace;
    color: rgb(159, 186, 64);
}

ul {
    margin-left: 25%;
    margin-right: 25%;
}

.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for the ON button */
.start_btn {
    padding: 15px 25px;
    font-size: 52px;
    text-align: center;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgb(159, 186, 64);
    border: none;
    border-radius: 25px;
    width: 30%;
    margin:auto;
    display:grid;
}

/* Button press effect for start button */
.start_btn:active {
    box-shadow: 0 5px rgb(104, 99, 99);
    transform: translateY(4px);
}

.start_btn:hover {
    background-color: rgb(191, 217, 108)
}

/* Styling for help button */
.help_btn {
    padding: 10px 5px;
    font-size: 32px;
    text-align: center;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 15px;
    width: 15%;
    margin:auto;
    display:grid;
    float: right;
}
.help_btn:hover {
    background-color: rgb(255, 104, 104)
}

/* Styling for help button */
.admin_btn {
    padding: 10px 5px;
    font-size: 32px;
    text-align: center;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 212, 0);
    border: none;
    border-radius: 15px;
    width: 15%;
    margin:auto;
    display:grid;
    float: left;
}
.admin_btn:hover {
    background-color: rgb(255, 221, 60)
}

.button-grid {
    display: grid;
    gap: 5px;
}

.small_btn {
    padding: 10px 5px;
    font-size: 32px;
    text-align: center;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgb(159, 186, 64);
    border: none;
    border-radius: 25px;
    width: 40%;
    margin:auto;
    display:grid;
}

.small_btn:active {
    box-shadow: 0 5px rgb(104, 99, 99);
    transform: translateY(4px);
}

.small_btn:hover {
    background-color: rgb(191, 217, 108)
}